<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Delete User</title>
<link rel="stylesheet" href="../styles/delete.css">
</head>
<body>

<form id = "deleteForm">
	<div class= "delete-box">
	
	<h1> Ingrese Datos Para Eliminar usuario </h1>
		<div class = "textbox">
			<input type = "text" placeholder = "Usuario" name = "User">
		</div>
		<div class = "textbox">
			<input type = "password" placeholder = "Contraseña" name = "Password">
		</div>
			<button class="btn" id="Delete">Borrar</button>
			<button class="btn" id="Back"> Volver</button>
	
		</div>
	</form>
	<script src = "../js/delete.js" defer></script>
</body>
</html>