<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="../styles/login.css">
<title>Login</title>

</head>
<body>
	<form id = "loginForm">
	<div class= "login-box">
	
	<h1> Login </h1>
		<div class = "textbox">
			<input type = "text" placeholder = "Usuario" name = "User">
		</div>
		<div class = "textbox">
			<input type = password placeholder = "Contraseña" name = "Password">
		</div>
			<button class="btn" id="Login">Sign in</button>
			<p>
				<a href="../../index.html"> No poseo una cuenta</a>
			</p>
	
		</div>
	</form>
	<script src="../js/login.js" defer></script>
</body>
</html>