<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update Info</title>
<link rel="stylesheet" href="../styles/update.css">

</head>
<body>

<section class="Update">
		<form id="Update">
			<h4>Actualizar Perfil</h4>
			
			<p>Nombre</p>
			<input class="input" type="text" name="name" id="name"  disabled> 
			<p>Usuario</p>
			<input class="input" type="text" name="User" id="User"  disabled >
			<p>Email</p>
			<input class="input" type="email" name="Email" id="Email"  disabled> 
			<p>Constraseña</p>
			<input class="input" type="password" name="Password" id="Password" disabled >
			<p>Telefono</p>
			<input class="inputs" type="text" name="Tlf" id="Tlf" > 
			<p>Direccion</p>
			<input class="inputs" type="text" name="direccion" id="direccion"  > 
			<p>Cedula de Identidad</p>
			<input class="inputs" type="text" name="ci" id="ci" >
			<p>Apodo</p>
			<input class="inputs" type="text" name="apodo" id="apodo" >
			
			<button class="button" id="Act">Actualizar</button>
			
			<button class="button" id="Back">Volver</button>

		</form>
	</section>
	
	<script src ="../js/update.js"defer></script>
	<script src = "../js/user.js"defer></script>
	<script src = "../js/back.js" defer></script>

</body>
</html>